.chart-container
{
    width: 33%;
}

.graph-container
{
    width: 66%;
}

.dashboard
{
    width: 80%;
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-top: 16px;
}

hr
{
    width: 80%;
    justify-self: center;
}

html
{
    min-width: 1024px;
}

.filter_container
        {
            width: 240px;
            min-width: 150px;
            margin-left: 10%;
            margin-top: 20px;
        }

.hidden {
             display: none;
        }