.chart-container
{
    width: 500px;
    height: 500px;
}

.graph-container
{
    width: 1000px;
    height: 500px;
}

.dashboard
{
    width: 80%;
    margin-left: 10%;
    display: flex;
}

hr
{
    width: 80%;
    margin-left: 10%;
}

html
{
    min-width: 1024px;
}

.filter_container
        {
            width: 240px;
            min-width: 150px;
            margin-left: 10%;
            margin-top: 20px;
        }

.hidden {
             display: none;
        }