<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мышелов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{url_for('static', filename='css/addCatch.css')}}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(() =>
            {
                $("form").submit(function (e){
                    e.preventDefault();

                    const date = document.getElementsByName("date");
                    const place = document.getElementsByName("place");
                    const cx = document.getElementsByName("cx");
                    const cy = document.getElementsByName("cy");
                    const traps = document.getElementsByName("traps");
                    const catched = document.getElementsByName("catched");
                    if (date[0].value == "" || place[0].value == "" || cx[0].value == "" || cy[0].value == "" || traps[0].value == "" || catched[0].value == "")
                    {
                        alert("Заполните все поля!");
                        return;
                    }
                    else if(parseInt(traps[0].value) < parseInt(catched[0].value))
                    {
                        alert("Количество ловушек не может быть меньше количества пойманных");
                        return;
                    }
                    else if(cx[0].value.length < 7 || cy[0].value.length < 7)
                    {
                        alert("Неверно заполнены координаты!")
                        return;
                    }

                    let p = document.getElementById("success-text");
                    p.style = "color: black";
                    p.innerHTML = "Добавление...";
                    document.getElementById("inp").disabled=true;

                     $.ajax({
                        type: 'POST',
                        url: 'addCatch',
                        data: $('form').serialize(),
                        success: function()
                        {
                            p.style = "color: green";
                            document.getElementById("success-text").innerHTML = "Отлов был добавлен!";
                            document.getElementById("inp").disabled=false;
                        }
                    });

                });
            });
    </script>
</head>
<body>
{% include 'navbar.html' %}
<div class="form-div">

    <form id="mainForm" style="width: 70%">
        <label for="catchDate">Дата отлова</label>
        <input id="catchDate" class="form-control" type="date" name="date"/>

        <label for="Zone">Природная зона</label>
        <select id ="Zone" class="form-select" name="zone">
            {% for item in zones %}
                <option value="{{item.ID_Zone}}">{{item.Name}}</option>
            {% endfor %}
        </select>

        <label for="Station">Стация</label>
        <select id ="Station" class="form-select" name="station">
            {% for item in stations %}
                <option value="{{item.ID_Station}}">{{item.Name}}</option>
            {% endfor %}
        </select>

        <label for="Biotope">Биотоп</label>
        <input id="Biotope" class="form-control" type="text" name="biotope" />

        <label for="District">Район</label>
        <select id ="District" class="form-select" name="district">
            {% for item in districts %}
                <option value="{{item.ID_District}}">{{item.Name}}</option>
            {% endfor %}
        </select>

        <label for="Place">Место</label>
        <input id="Place" class="form-control" type="text" name="place" />

        <label for="Coords_x">Координаты по X (в формате 12.34567)</label>
        <input id="Coords_x" class="form-control" type="number" min="0" max="180" step="0.00001" name="cx" />

        <label for="Coords_y">Координаты по Y (в формате 12.34567)</label>
        <input id="Coords_y" class="form-control" type="number" min="0" max="180" step="0.00001" name="cy" />

        <label for="Traps">Количество ловушек</label>
        <input id="Traps" class="form-control" type="number" name="traps" />

        <label for="Catched">Количество пойманных</label>
        <input id="Catched" class="form-control" type="number" name="catched" />

        <label for="Comments">Комментарии</label>
        <input id="Comments" class="form-control" type="text" name="comments" />


        <input type="submit" value="Создать" class="btn btn-primary" id="inp" style="margin-top: 10px;">
        <p style="color: green" id="success-text"></p>
    </form>
</div>
{% include 'footer.html' %}
</body>
</html>