<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>эпиСтат</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{url_for('static', filename='css/catchDetails.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/dash.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/preloader.css')}}" rel="stylesheet">
    <link rel="icon" href="{{url_for('static', filename='mouse_fav.png')}}" type="image/png">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        function showComments(data)
        {
            alert(data.toString());
        }

        function deleteCatch(id)
        {
            if(confirm("Вы уверены, что хотите удалить запись?") == true)
            {
                $.ajax({
                        type: 'DELETE',
                        url: 'deleteCatch/' + id,
                        success: function()
                        {
                            window.location.href = '/catches'
                        }
                    });
            }
        }

        function setDash(targetNumber, elementId)  //гпт код для анимации циферок
        {
            let currentNumber = 0; // начальное число
            const duration = 500; // продолжительность анимации в миллисекундах
            const startTime = performance.now(); // время начала анимации

            function easingFunction(t) {
               return t < 0.5 ? 4 * t * t * t : (t - 1) * (2 * t - 2) * (2 * t - 2) + 1; //чат гпт дал ебнутую функцию
            }

            const numberElement = document.getElementById(elementId);

            function update() {
                const now = performance.now();
                const elapsed = now - startTime;
                const t = Math.min(elapsed / duration, 1); // нормализованное время (от 0 до 1)
                const easeValue = easingFunction(t);
                currentNumber = targetNumber * easeValue; // изменяем число по easing функции
                numberElement.innerText = currentNumber.toFixed(2); // обновляем текст с двумя знаками после запятой

                if (t < 1) {
                    requestAnimationFrame(update); // продолжаем анимацию
                }
            }

            requestAnimationFrame(update);
        }

            function getMice(id)
            {
                console.log(id);
            }

        $(document).ready(() =>
        {
            document.getElementById("clBtn").disabled = true;
            document.getElementById("exBtn").disabled = true;
            document.getElementById("preloader").classList.remove('hidden');
            $.ajax({
                type: 'GET',
                url: '/mice/' + {{catch.ID_Catch}},
                success: function(answer)
                {
                    if (typeof answer == 'string')
                    {
                        document.getElementById("forEmpty").innerHTML = answer;
                        document.getElementById("controls").style.visibility = 'hidden';
                    }
                    else {
                        var HTML = "";
                        const table = document.getElementById("data-table");
                        for (let i = 0; i < answer.length; i++)
                        {
                            HTML += "<tr><td class='col-1'>" + answer[i].Type + "</td>";
                            HTML += "<td class='col-2'>" + answer[i].Gender + "</td>";
                            HTML += "<td class='col-3'>" + answer[i].Age + "</td>";
                            HTML += "<td class='col-4'>" + answer[i].Pregnancy + "</td>";
                            HTML += "<td class='col-5'>" + answer[i].Embryos_Amount + "</td>";
                            HTML += "<td class='col-6'>" + answer[i].Disease + "</td></tr>";
                        }
                        table.innerHTML = HTML;
                        const controls = document.getElementById('controls');

                        controls.addEventListener('change', e => {
                        toggleColumn(e.target.dataset.columnClass);
                        });
                        console.log(answer);
                        let accuracy = Number(({{catch.Catched_Amount}} / {{catch.Traps_Amount}} * 100).toFixed(2));
                        let discovered = Number(((answer.filter(item => item.Disease !== 'Не исследовано')).length / {{catch.Catched_Amount}} * 100).toFixed(2));
                        setDash(accuracy, 'accuracy');
                        setDash(discovered, 'discovered');

                        document.getElementById("clBtn").disabled = false;
                        document.getElementById("exBtn").disabled = false;
                    }
                    document.getElementById("preloader").classList.add('hidden');
                }
            });
        });


        function toggleColumn(columnClass) {
            const cells = document.querySelectorAll(`.${columnClass}`);

          cells.forEach(cell => {
            cell.classList.toggle('hidden');
          });
        }

        function addMice(id)
        {
            window.location.href = '/editMice/' + id;
        }

        function downloadExcel()
        {
            const table = document.getElementById('data-table');
            const rows = table.querySelectorAll('tr');
            let miceData = [];
            const columns = ['Тип', 'Пол', 'Возраст', 'Беременность', 'Кол-во эмбрионов', 'Заболевание']
            let activeColumns = [];

            for(let i = 0; i < rows[0].cells.length; i++)
            {
                if(!rows[0].cells[i].classList.contains('hidden'))
                {
                    activeColumns.push(columns[i]);
                }
            }

            for(let i = 0; i<rows.length; i++)
            {
                let output = [];
                const content = rows[i];

                for (let j = 0; j<content.cells.length; j++)
                {
                    if(!content.cells[j].classList.contains('hidden')){
                        output.push(content.cells[j].innerHTML);
                    }
                }
                miceData.push(output);
            }
         miceData.push(activeColumns);
         let additionalData = ["{{catch.Date}}", "{{catch.District}}", "{{catch.Place}}" ];
         miceData.push(additionalData);

        fetch('/downloadExcel/' + {{catch.ID_Catch}}, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(miceData)
        })
        .then(response => {
            if (response.ok) {
                return response.blob();
            }
            throw new Error('Network response was not ok.');
        })
        .then(blob => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.style.display = 'none';
            a.href = url;
            a.download = '{{catch.Date}}.xlsx';
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);
        })
        .catch(error => console.error('Error:', error));
    }

        function clearMice(id)
        {
            if(confirm("Вы уверены, что хотите удалить список?") == true)
            {
                document.getElementById("clBtn").disabled = true;
                $.ajax({
                        type: 'DELETE',
                        url: '/deleteMiceList/' + id,
                        success: function()
                        {
                            window.location.href = '/catchDetails/' + id;
                        }
                    });
            }
        }

    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
{% include 'navbar.html' %}


<div style="margin-top: 30px;">
    <h6 onclick="window.location.href='/catches'"> ←К списку отловов</h6>
    <div class="main-div">
        <div>
            <h3>Отлов от: {{catch.Date}} </h3>
            <p>Район: {{catch.District}}</p>
            <p>Место отлова: {{catch.Place}}</p>
            <p>Природная зона: {{catch.Zone}}</p>
            <p>Стация: {{catch.Station}}</p>
            <p>Биотоп: {{catch.Biotope}}</p>
            <p>Количество ловушек: {{catch.Traps_Amount}}</p>
            <p>Поймано: {{catch.Catched_Amount}}</p>
            <p onclick="showComments('{{catch.Comments}}')" style="color: blue; text-decoration: underline">Комментарии</p>
            <div class="button-div">
                <button type="button" class="btn btn-primary" onclick="window.location.href='/editCatch/{{catch.ID_Catch}}'">Редактировать</button>
                <button type="button" class="btn btn-danger" onclick="deleteCatch({{catch.ID_Catch}})">Удалить</button>
            </div>
        </div>
        <iframe width="40%" height="550px" src="https://www.openstreetmap.org/export/embed.html?bbox={{catch.Coords_X}}%2C{{catch.Coords_Y}}%2C{{catch.Coords_X}}%2C{{catch.Coords_Y}}&amp;layer=mapnik&amp;marker={{catch.Coords_Y}}%2C{{catch.Coords_X}}" style="border: 1px solid black"></iframe>
    </div>

    <hr>
<!--дашборд-->
     <div class="dashboard">
        <div class="column">
            <h2>Процент попадания</h2>
            <div class="percentage-div">
                <p class="percentage" id="accuracy">0</p><p class="percentage">%</p>
            </div>
        </div>
        <div class="column">
            <h2>Исследовано пойманных</h2>
            <div class="percentage-div">
                <p class="percentage" id="discovered">0</p><p class="percentage">%</p>
            </div>
        </div>
    </div>

    <hr>
    <div class="checks-block" id="controls">
        <input class="form-check-input" type="checkbox" id="cType" data-column-class="col-1" checked>
        <label class="form-check-label" for="cType">Тип
        </label>

        <input class="form-check-input" type="checkbox" id="cGender" data-column-class="col-2" checked>
        <label class="form-check-label" for="cGender">Пол
        </label>

        <input class="form-check-input" type="checkbox" id="cAge" data-column-class="col-3" checked>
        <label class="form-check-label" for="cAge">Возраст
        </label>

        <input class="form-check-input" type="checkbox" id="cPregnancy" data-column-class="col-4" checked>
        <label class="form-check-label" for="cPregnancy">Беременность
        </label>

        <input class="form-check-input" type="checkbox" id="cEmbryos" data-column-class="col-5" checked>
        <label class="form-check-label" for="cEmbryos">Кол-во эмбрионов
        </label>

        <input class="form-check-input" type="checkbox" id="cDisease" data-column-class="col-6" checked>
        <label class="form-check-label" for="cDisease">Заболевание
        </label>
    </div>

    <table class="table table-striped main-table">
      <thead>
        <tr>
          <th class='col-1' scope="col">Тип</th>
          <th class='col-2' scope="col">Пол</th>
          <th class='col-3' scope="col">Возраст</th>
          <th class='col-4' scope="col">Беременность</th>
          <th class='col-5' scope="col">Количество эмбрионов</th>
          <th class='col-6' scope="col">Заболевание</th>
        </tr>
      </thead>
      <tbody id="data-table">

      </tbody>
</table>

    <div id="preloader" style="justify-self: center" class="hidden">
        <div class="preloader-animation"></div>
    </div>

<p id = "forEmpty" style="margin-left: 10%;"></p>
    <div style="display: flex; margin-left: 10%">
        <button class="btn btn-primary" onclick="addMice('{{catch.ID_Catch}}')">Редактировать список</button>
        <button class="btn btn-success" style="margin-left: 10px;" onclick="downloadExcel()" id="exBtn">Скачать</button>
        <button class="btn btn-danger" style="margin-left: 10px;" onclick="clearMice('{{catch.ID_Catch}}')" id="clBtn">Очистить список</button>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>